.forgot-form-container {
    padding-top: 250px;

    .forgot-form {
        width: 500px;
        padding: 25px 45px 45px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 6px;
        border: 2px solid darkgrey;
            
        h1 {
            color: #4f4f4f;
            margin-top: 0;
            margin-bottom: 20px;
        }

        .forgot-buttons {
            display: flex;
            justify-content: space-evenly;
        }

        h2 {
            margin-bottom: 25px;
        }

        .message-text {
            font-size: 18px;
        }
    }
}